#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

ion-content{
  --background: #62E8E0;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-toolbar{
  width: 80%;
  height: auto;
  box-shadow: none;
  border-radius:30p;
  --background: #62E8E0;

}

ion-title {
  font-weight: 600;
}

ion-card {
  width: 80%;
  height: 160px;
  box-shadow: none;
  border-radius:30p;
}
  
  img {
      object-fit: cover;
      width: 100%;
      transform: scale(1.1, 1.1) rotate(1deg);
      transition: 600ms all ease-in-out;
  }

  ion-button {
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    height: 50px;
    width: 180px;
    font-size: 18px;
    text-transform: initial;
    color: black;
    border-color: #B05993;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --background: #B05993;
  }
.swiper-slide-active {
  transform: scale(1.05, 1.05);
}

  ion-card {
      img {
          transform: scale(1, 1);
      }

#container a {
  text-decoration: none;
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}