<ion-content>
  <ion-header >
    <ion-toolbar >
      <ion-buttons slot="primary">
        <ion-button (click)="logout()">
          <ion-icon slot ="start" name="add"></ion-icon>
        </ion-button>
       </ion-buttons>
       
       </ion-toolbar>
    </ion-header>
  
    <ion-card-content>
      <ion-title size ="small" >¿Estas pensando en adoptar?</ion-title>
  <h4>   Aquí podrás ver todas las mascotas disponibles para adoptar.</h4> 
    </ion-card-content>
  
    <ion-slides [options]="option" class="ion-margin-top">
  
      <ion-slide>
        <ion-card>
          <img src="assets/img/cat1.jpg" >
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
          <img src="assets/img/cat2.jpg">
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
          <img src="assets/img/dog1.jpg">
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
          <img src="assets/img/dog2.jpg">
        </ion-card>
      </ion-slide>
  
      <ion-slide>
        <ion-card>
          <img src="assets/img/dog3.jpg">
        </ion-card>
      </ion-slide>
  
  
    </ion-slides>
    <router-outlet>
    <ion-button expand="full" routerLink= "/formulario" >
      <img src="../assets/img/huella.svg" style="width : 100% ; height : 70%" >
      Te encontré
    </ion-button>
    </router-outlet>
  </ion-content>