<ion-content>

<ion-card>

  <ion-card-content>
    <ion-toolbar >
      <ion-button (click)="logout()">
        <img src="../assets/img/huella.svg" style="width : 70% ; height : 70%">
        Salir
      </ion-button> 
      <ion-card-header> 
        <ion-title>
          Formulario de Adopción 
        </ion-title>
      </ion-card-header> 
  </ion-toolbar>

 




  <ion-fab vertical="bottom" horizontal="center" slot="center"> 
    <ion-fab-button (click)="addUser()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-card-content>
</ion-card>
</ion-content>